---
title: Mathilde Porée &mdash; Herbier
---
<%
  herbier = (1..29).map{ |i| { name: "herbier#{sprintf("%02d", i)}", title: "Herbier, 2012, aquarelle, 14x14cm" } }
%>

<div id="herbier" class="center-block none">
  <% herbier.each do |image| %>
  <div class="item p5">
    <%= gallery image, "herbier" %>
  </div>
  <% end %>
</div>

<div id="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

<script>
  gallery(document.querySelector('#herbier'), { itemSelector: '.item', gutter: 10, isFitWidth: true });
  $('.gallery').colorbox(colorbox_options);
</script>
