<%
  mythes = (1..50).map{ |i| { file: "mythes/mythes#{sprintf("%02d", i)}", title: "Mythes, 2009-2010, stylo, 14x14cm" } }
%>

<div class="row">
  <% mythes.each do |image| %>
  <div class="col-xs-6 col-md-3">
    <% link_to "/images/dessin/#{image[:file]}.jpg", class: "gallery", rel: "gallery", title: image[:title] do %>
      <%= image_tag "dessin/#{image[:file]}_thumb.jpg" %>
    <% end %>
  </div>
  <% end %>
</div>

<script>
  $('.gallery').colorbox({
    rel:'gallery',
    transition:"none",
    height:"75%",
    closeButton: false,
    previous: "",
    next: "",
    current: ""
  });
</script>
