---
title: Mathilde Porée &mdash; Mythes
---
<%
  mythes = (1..50).map{ |i| { name: "mythes#{sprintf("%02d", i)}", title: "Mythes, 2009-2010, stylo, 14x14cm" } }
%>

<div id="mythes" class="center">
  <% mythes.each do |image| %>
  <div class="item p5">
    <%= gallery image, "mythes" %>
  </div>
  <% end %>
</div>

<script>
  var container = document.querySelector('#mythes');
  var msnry;
  imagesLoaded( container, function() {
    msnry = new Masonry( container, { itemSelector: '.item', gutter: 10, isFitWidth: true } );
  });

  $('.gallery').colorbox({
    rel:'gallery',
    transition:"none",
    height:"75%",
    closeButton: false,
    previous: "",
    next: "",
    current: ""
  });
</script>
