---
title: Mathilde Porée &mdash; Mythes
---
<%
  mythes = (1..50).map{ |i| { name: "mythes#{sprintf("%02d", i)}", title: "Mythes, 2009-2010, stylo, 14x14cm" } }
%>

<div id="mythes" class="center-block none">
  <% mythes.each do |image| %>
  <div class="item p5">
    <%= gallery image, "mythes" %>
  </div>
  <% end %>
</div>

<div id="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

<script>
  gallery(document.querySelector('#mythes'), { itemSelector: '.item', gutter: 10, isFitWidth: true });
  $('.gallery').colorbox(colorbox_options);
</script>
