//= require bootstrap
//= require colorbox

@charset "utf-8";

@import url('/fonts/KozGoPr6N-Light.otf');

body {
  background: #fff;
  font-family: 'KozGoPr6N-Light';
}

.thumbnail { border: 0; }
a:focus, :focus { outline: none; }

.item.w2 { width: 15%; }

header {
  margin: 25px 0;
  text-align: center;

  a {
    color: #9d9d9d;

    &:hover {
      color: #4d4d4d;
      text-decoration: none;
    }
  }

  h1 {
    font-size: 2.3em;
    letter-spacing: 3px;
    margin: 50px 0 75px 0;
    color: #6d6d6d;
  }

  nav {
    ul {
      padding: 0;
      margin: 0;
    }

    ul > li {
      display: inline;
      padding: 0 20px;
      text-transform: uppercase;
      letter-spacing: -1px;
    }

    li a {
      color: #9d9d9d;
    }
  }
}

footer {
  margin: 50px 0 10px 0;

  p {
    text-align: center;
    font-size: 0.8em;
  }
}

#index {
  margin: auto;
  width: 700px;

  img {
    width: 700px;
  }
}

#evenements {
  .row {
    padding-bottom: 50px;
  }

  img {
    width: 263px;
  }
}

#dessin {
  margin: 0 auto;

  .item {
    padding: 5px 0;
  }
}

#photographie {
  margin: 0 auto;

  .item {
    padding: 2px 0;
  }
}
