---
title: Mathilde Porée &mdash; CV
---
<div id="cv" class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>CV</h2>
    <h4>Expositions Collectives / Festivals</h4>
    <dl>
      <dt>2014</dt>
        <dd>« OBSESSION: Love, Ritual, Collection »<br>Curated by Charlotte Meddings, Embassy Tea Gallery, Londres</dd>
        <dd class="last">« Bleu Blanc Cosmique »<br>Atelier Le45TER, Montreuil</dd>
      <dt>2013</dt>
        <dd>« Mauvaises Graines »<br>Le45TER, Montreuil</dd>
        <dd>« Anonymous drawings »<br>Centre d&#8217;Art Temporaire, Eindhoven</dd>
        <dd>« Cutlog, New York »<br>New York, USA</dd>
        <dd>« Anonymous drawings »<br>Galerie Nord / Kunstverein Tiergarten, Berlin</dd>
        <dd>« Post-modernités photographiques »<br>Galerie Artligre, Paris</dd>
        <dd class="last">« Vanités »<br>Galerie Pôle Art 13, Paris</dd>
      <dt>2012</dt>
        <dd>« Le mois de la photo – l’After, 50 Photographes »<br>Galerie Artligre, Paris</dd>
        <dd class="last">Festival Loopingstar<br>Sarrebrück</dd>
      <dt>2011</dt>
        <dd class="last">« Total Animal »<br>Le numéro 23, Poitiers</dd>
      <dt>2010</dt>
        <dd class="last">« Je travaillerai demain »<br>Collectif Moustache-Fontaine, Paris</dd>
      <dt></dt>
        <dd class="last">« Travaillez plus ! » <br>Collectif Moustache-Fontaine, Paris</dd>
      <dt>2009</dt>
        <dd class="last">« Oups ! I did it again… »<br>La Galerie, Ecole Supérieure des Beaux-Arts de Cornouaille, Quimper</dd>
    </dl>
    <h4>Expositions Personnelles</h4>
    <dl>
      <dt>2012</dt>
        <dd class="last">« Nature morte »<br>CAC, Eglise Notre-Dame, Port-Bail</dd>
      <dt>2010</dt>
        <dd class="last">« Mes immortels »<br>Comité d’Action Culturelle, Port-Bail</dd>
      <dt>2009</dt>
        <dd class="last">« Extispicine »<br>Galerie Il était une fois, Pont-Aven</dd>
    </dl>
    <h4>Cursus</h4>
    <dl>
      <dt>2009</dt>
        <dd>Diplôme National Supérieur d’Expression Plastique &#8211; Option Art<br>Ecole Supérieure des Beaux-Arts de Cornouaille, Quimper</dd>
      <dt>2008</dt>
        <dd>Echange Erasmus<br>Académie des Beaux-Arts, Poznań, Pologne</dd>
      <dt>2007</dt>
        <dd>Diplôme National d’Arts Plastiques &#8211; Option Art<br>Ecole Supérieure des Beaux-Arts, Cherbourg</dd>
    </dl>
  </div>
</div>
