---
title: Mathilde Porée &mdash; CV
---
<div id="cv" class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>CV</h2>
    <h4>Expositions Collectives / Festivals</h4>
    <dl>
      <dt>2015</dt>
        <dd>&laquo; PaperWork &raquo;<br>Galerie Mémoire de l'avenir, Paris</dd>
        <dd>&laquo; Le Kabinet du Dessin &raquo;<br>Le Kabinet, Bruxelles</dd>
        <dd class="last">&laquo; Nêtre &raquo;<br>Galerie Plateforme, Paris</dd>
      <dt>2014</dt>
        <dd>&laquo; Parcours d'artistes &raquo;<br>Les Passerelles, Pontault-Combault</dd>
        <dd>&laquo; Prix de dessin de l'Académie des beaux-arts - Pierre David-Weill &raquo;<br>Exposition collective, Institut de France - Académie des beaux-arts, Paris</dd>
        <dd>&laquo; TRIBU[NE] &raquo;<br>Exposition du collectif Körper en partenariat avec l'Atelier d'Estienne, Manoir de Saint-Urchaut, Pont-Scorff</dd>
        <dd>&laquo; OBSESSION: Love, Ritual, Collection &raquo;<br>Curated by Charlotte Meddings, Embassy Tea Gallery, Londres</dd>
        <dd class="last">&laquo; Bleu Blanc Cosmique &raquo;<br>Atelier Le45TER, Montreuil</dd>
      <dt>2013</dt>
        <dd>&laquo; Mauvaises Graines &raquo;<br>Le45TER, Montreuil</dd>
        <dd>&laquo; Anonymous drawings &raquo;<br>Centre d&#8217;Art Temporaire, Eindhoven</dd>
        <dd>&laquo; Cutlog, New York &raquo;<br>New York, USA</dd>
        <dd>&laquo; Anonymous drawings &raquo;<br>Galerie Nord / Kunstverein Tiergarten, Berlin</dd>
        <dd>&laquo; Post-modernités photographiques &raquo;<br>Galerie Artligre, Paris</dd>
        <dd class="last">&laquo; Vanités &raquo;<br>Galerie Pôle Art 13, Paris</dd>
      <dt>2012</dt>
        <dd>&laquo; Le mois de la photo – l’After, 50 Photographes &raquo;<br>Galerie Artligre, Paris</dd>
        <dd class="last">Festival Loopingstar<br>Sarrebrück</dd>
      <dt>2010</dt>
        <dd class="last">&laquo; Je travaillerai demain &raquo;<br>Collectif Moustache-Fontaine, Paris</dd>
      <dt></dt>
        <dd class="last">&laquo; Travaillez plus ! &raquo;<br>Collectif Moustache-Fontaine, Paris</dd>
      <dt>2009</dt>
        <dd class="last">&laquo; Oups ! I did it again… &raquo;<br>La Galerie, Ecole Supérieure des Beaux-Arts de Cornouaille, Quimper</dd>
    </dl>
    <h4>Expositions Personnelles</h4>
    <dl>
      <dt>2012</dt>
        <dd class="last">&laquo; Nature morte &raquo;<br>CAC, Eglise Notre-Dame, Port-Bail</dd>
      <dt>2010</dt>
        <dd class="last">&laquo; Mes immortels &raquo;<br>Comité d’Action Culturelle, Port-Bail</dd>
      <dt>2009</dt>
        <dd class="last">&laquo; Extispicine &raquo;<br>Galerie Il était une fois, Pont-Aven</dd>
    </dl>
    <h4>Cursus</h4>
    <dl>
      <dt>2009</dt>
        <dd>Diplôme National Supérieur d’Expression Plastique &#8211; Option Art<br>Ecole Supérieure des Beaux-Arts de Cornouaille, Quimper</dd>
      <dt>2008</dt>
        <dd>Echange Erasmus<br>Académie des Beaux-Arts, Poznań, Pologne</dd>
      <dt>2007</dt>
        <dd>Diplôme National d’Arts Plastiques &#8211; Option Art<br>Ecole Supérieure des Beaux-Arts, Cherbourg</dd>
    </dl>
  </div>
</div>
