---
title: Mathilde Porée &mdash; Dessin
---
<%
  gallery = [
    { name: "volatile-3", title: "Volatile III, 2014, encre de chine, 42x59cm" },
    { name: "volatile-2", title: "Volatile II, 2014, encre de chine, 42x59cm" },
    { name: "volatile-1", title: "Volatile I, 2014, encre de chine, 42x59cm" },
    { name: "cotentin-dream", title: "Cotentin Dream, 2014, stylo et mine de plomb, 100x150cm, réalisé avec Guillaume Querré" },
    { name: "capreolus-capreolus", title: "Capreolus, Capreolus, 2014, encre de chine, 120x150cm" },
    { name: "vulpes-vulpes", title: "Vulpes, vulpes, 2013, graphite et encre de chine, 100x100cm" },
    { name: "cotentin-dream-detail", title: "Cotentin Dream, 2014, détail, stylo et mine de plomb, réalisé avec Guillaume Querré" },
    { name: "peau-de-chagrin", title: "Peau de chagrin, Geai, 2012, stylo et feutre" },
    { name: "resurrection-1", title: "Résurrection I, 2012, stylo et encre de chine, 120x150cm, réalisé avec Guillaume Querré" },
    { name: "resurrection-2", title: "Résurrection II, 2013, stylo et aquarelle, 105×157.5cm, réalisé avec Guillaume Querré" },
    { name: "variations", title: "Variations, 2013, aquarelle, 6x11cm" },
    { name: "variations-expo", title: "Variations, 2013, vue de l'exposition Mauvaises Graines" }
  ]
%>

<div id="dessin" class="center-block none">
  <% gallery.each do |image| %>
  <div class="item p5">
    <%= gallery image, "dessin" %>
  </div>
  <% end %>
  <div class="item p5 serie">
    <% link_to "/dessin/mythes", title: "Série Mythes, 2009-2010, stylo, 14x14cm" do %>
      <%= image_tag "dessin/mythes_thumb.jpg", alt: "mythes" %>
      <div class="overlay"><p>Voir la série</p></div>
    <% end %>
  </div>
  <div class="item p5 serie">
    <% link_to "/dessin/herbier", title: "Série Herbier, 2012, aquarelle, 14x14cm" do %>
      <%= image_tag "dessin/herbier_thumb.jpg", alt: "herbier" %>
      <div class="overlay"><p>Voir la série</p></div>
    <% end %>
  </div>
</div>

<div id="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

<script>
  gallery(document.querySelector('#dessin'), { itemSelector: '.item', gutter: 10, isFitWidth: true });
  $('.gallery').colorbox(colorbox_options);
</script>
