---
title: Mathilde Porée &mdash; Installation
---
<%
  installation = [
    { name: "installation01", title: "Vue d'exposition, Portbail, 2010" },
    { name: "installation02", title: "Vue d'exposition, Portbail, 2010" },
    { name: "installation03", title: "Vue d'exposition, Portbail, 2010" }
  ]
%>

<div id="installation" class="center-block none">
  <% installation.each do |image| %>
  <div class="item p2">
    <%= gallery image, "installation" %>
  </div>
  <% end %>
</div>

<div id="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

<script>
  gallery(document.querySelector('#installation'), { itemSelector: '.item', gutter: 3, isFitWidth: true });
  $('.gallery').colorbox(colorbox_options);
</script>
