---
title: Mathilde Porée &mdash; Photographie
---
<%
  poussiere = (1..9).map{ |i| { name: "poussiere/poussiere#{sprintf("%02d", i)}", title: "Poussière, 2012, photographie numérique, 49x61cm" } }
  fossiles = (1..20).map{ |i| { name: "fossiles/fossiles#{sprintf("%02d", i)}", title: "Fossiles, 2009, photographies argentiques, 22x22cm" } }
%>

<div id="photographie" class="center">
  <% poussiere.each do |image| %>
  <div class="item p2">
    <%= gallery image, "photographie" %>
  </div>
  <% end %>
  <% fossiles.each do |image| %>
  <div class="item p2 w15">
    <%= gallery image, "photographie" %>
  </div>
  <% end %>
</div>

<script>
  var container = document.querySelector('#photographie');
  var msnry;
  imagesLoaded( container, function() {
    msnry = new Masonry( container, { itemSelector: '.item', gutter: 3, isFitWidth: true } );
  });

  $('.gallery').colorbox({
    rel:'gallery',
    transition:"none",
    height:"75%",
    closeButton: false,
    previous: "",
    next: "",
    current: ""
  });
</script>
