---
title: Mathilde Porée &mdash; Photographie
---
<%
  poussiere = (1..9).map{ |i| { name: "poussiere#{sprintf("%02d", i)}", title: "Poussière, 2012, photographie numérique, 49x61cm" } }
  fossiles = (1..20).map{ |i| { name: "fossiles#{sprintf("%02d", i)}", title: "Fossiles, 2009, photographies argentiques, 22x22cm" } }
%>

<div id="photographie" class="center-block none">
  <% poussiere.each do |image| %>
  <div class="item p2">
    <%= gallery image, "photographie/poussiere" %>
  </div>
  <% end %>
  <% fossiles.each do |image| %>
  <div class="item p2">
    <%= gallery image, "photographie/fossiles" %>
  </div>
  <% end %>
</div>

<div id="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

<script>
  gallery(document.querySelector('#photographie'), { itemSelector: '.item', gutter: 3, isFitWidth: true });
  $('.gallery').colorbox(colorbox_options);
</script>
